@font-face {
	font-family: 'D2Coding';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'D2Coding';
	width: 100%;
	height: 100%;
}
pre {
	font-family: 'D2Coding';
	display: inline-block;
	/* font-weight: 700; */
	font-size: 1rem;
	background-color: #0002;
	padding: 0.5rem 0.75rem;
	border-radius: 0.4rem;
	margin-left: 0.25rem;
	letter-spacing: 0.075rem;
}

p,
span {
	margin-left: 0.75rem;
	color: #555;
	font-weight: 400;
	font-size: 1rem;
}

button {
	width: 80px;
	height: 40px;
	appearance: none;
	background-color: #82c8a0;
	border: 0;
	border-radius: 4px;
	margin: 10px;
	border-bottom: 4px solid #669d7d60;
	border-top: 2px solid #ffffff60;
	cursor: pointer;
	line-height: 34px;
}
button a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.75px;
}
